<table class="rankings quest-hitory">
    <colgroup>
        <col />
        <col style="width: 100px;" />
        <col style="width: 90px;" />
        <col style="width: 150px;" />
        <col style="width: 130px;" />
    </colgroup>
    <thead>
        <tr>
            <th>Quest</th>
            <th class="right">
                <a href="#/quests/history/sort/character/asc" class="highlight">Character</a>
            </th>
            <th class="right">
                <a href="#/quests/history/sort/honor/asc" class="highlight">Honor</a>
            </th>
            <th class="right">
                <a href="#/quests/history/sort/completed-on/asc" class="highlight">Complete on</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="#/quests/RaFa/2">Welcome to Lorencia, Warrior!</a>
            </td>
            <td class="right">
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td class="right">50</td>
            <td class="right">16/12/2018 14:38</td>
        </tr>
        <tr>
            <td>
                <a href="#/quests/RaFa/1">The return of the warrior!</a>
            <td class="right">
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td class="right">50</td>
            <td class="right">16/12/2018 14:37</td>
        </tr>
    </tbody>
</table>
