<table class="rankings quest-ladder">
    <colgroup>
        <col style="width: 20px;" />
        <col style="width: 150px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
    </colgroup>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Name</th>
            <th>Class</th>
            <th class="right">
                <a href="#/rankings/characters/sort" class="highlight">Quests</a>
            </th>
            <th class="right">
                <a href="#/rankings/characters/sort" class="highlight">Honor</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td>
                @@include('components/status.html', {"type": "online"})
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td>
                <img src="/assets/classes/blade-master.jpg" alt="Blade Master" />
            </td>
            <td class="right">21</td>
            <td class="right">3,500</td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Rotterdam">Rotterdam</a>
            </td>
            <td>
                <img src="/assets/classes/soul-master.jpg" alt="Soul Master" />
            </td>
            <td class="right">10</td>
            <td class="right">1,250</td>
        </tr>
        <tr>
            <td class="center">3</td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Hardcore">Hardcore</a>
            </td>
            <td>
                <img src="/assets/classes/dark-lord.jpg" alt="Dark Lord" />
            </td>
            <td class="right">12</td>
            <td class="right">1,000</td>
        </tr>
    </tbody>
</table>
