<section class="quest-list">
    <table class="rankings quest-hitory">
        <colgroup>
            <col />
            <col style="width: 90px;" />
            <col style="width: 200px;" />
        </colgroup>
        <thead>
            <tr>
                <th>Quest</th>
                <th class="right">
                    <a href="#/quests/history/sort/honor/asc" class="highlight">Honor</a>
                </th>
                <th class="right">Rewards</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#/quests/RaFa/3">Welcome to Noria!</a>
                </td>
                <td class="right">50</td>
                <td class="right">
                    300 credits
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#/quests/RaFa/4">Help the elves!</a>
                <td class="right">100</td>
                <td class="right">
                    2,000,000 Zen
                </td>
            </tr>
        </tbody>
    </table>

</section>
