<section class="quest">
    <h1 class="highlight">Welcome to Lorencia, Warrior!</h1>
    <p>
        The Heavens shall open again, the Stars will lose their way, and Fear descends upon the earth. A saint awakens and destroys the Seal of Chains. Ravenous teeth shall rape the land, the land! Tis cruel! Crimson Blood stains the ground.
    </p>
    <p>
        Under the Sun, The 8 Jewels of Legend and Lore shall appear, and Satan will have arisen... Heed these words ye wise man! A day shall come upon which the soil shall 8 Stars be affixed, Nightmare's Day shall it be called when Heaven's Rays divide the sky and echoing wails ring in the Valley of Death, and a light will come down upon this land from the world once forgotten.
    </p>
    <p>
        <i class="fas fa-angle-double-right"></i>
        You have now arrived in <strong>Lorencia</strong>!
    </p>
    <p>
        <strong>Lorencia</strong> is a wide plain, located in the center of the MU continent. The heavy rainfall here causes tall trees and grasses to grow in abundance. It is well guarded by the travelers of MU, and several members of the <strong>Church of Devias</strong> protect the area. A handful of merchants have set up their shops here, offering a variety of basic items for travelers.
    </p>
</section>

<section class="quest-conditions">
    <section class="requirements">
        <h1 class="highlight">Requirements</h1>
        <div class="items-row">
            <div class="item wings">
                <img src="/assets/items/10838000.gif" alt="Wings of the Elf" />
                <i class="fa fa-check"></i>
            </div>
            <div class="item">
                <img src="/assets/items/00cb800009.gif" alt="Box of Kundun +2" />
                <i class="fa fa-times"></i>
            </div>
        </div>
    </section>

    <section class="actions">
        <!-- <div class="completed highlight green">
            <i class="fa fa-check"></i>
        </div> -->
        <a href="#/quests/RaFa/1" class="highlight">
            <i class="fas fa-award"></i>
            Finish Quest
        </a>
    </section>

    <section class="rewards">
        <h1 class="highlight">Rewards</h1>
        <div class="items-row">
            <div class="item">
                <img src="/assets/items/00128000.gif" alt="Legendary Armor" />
            </div>
        </div>
        <div class="currency-row">
            <strong>2,000,000</strong> Zen
        </div>
        <div class="currency-row">
            <strong>200</strong> credits
        </div>
    </section>
</section>
