<section class="character-option add-stats">
    <div class="requirements">
        <strong class="highlight">Minimal Requirements</strong>
        <ul>
            <li>
                <strong>200,000,000</strong> Zen
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                Spare stats points
                <i class="fas fa-check highlight green"></i>
            </li>
        </ul>
    </div>
    <div class="action">
        <div class="wrapper text-right">
            <div class="stat">
                <label>Strength</label>
                <span class="highlight">9,800</span>
                <input type="text" name="strength" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Agility</label>
                <span class="highlight">10,063</span>
                <input type="text" name="agility" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Vitality</label>
                <span class="highlight">5,000</span>
                <input type="text" name="vitality" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Energy</label>
                <span class="highlight">12,000</span>
                <input type="text" name="energy" maxlength="5" placeholder="0" />
            </div>
            <div class="stat text-right">
                <span>
                    <strong>1,000</strong> stats points left
                </span>
            </div>
            <a href="#" id="add-stats-action" class="highlight inline">
                <i class="fas fa-plus"></i>
                Add Stats
            </a>
        </div>
    </div>
</section>
