<div class="character">
    @@if (!context.href) {
    <a href="#/account/character/@@name">
    }
    @@if (context.href) {
    <a href="@@href/@@name">
    }
        <h2>@@name</h2>
        <div class="img-wrapper">
            <img class="no-drag" src="@@image" alt="@@class" />
        </div>
    </a>
</div>
