<section class="character-option clear-pk">
    <div class="requirements">
        <strong class="highlight">Minimal Requirements</strong>
        <ul>
            <li>
                At least <strong class="pk-level-phonoman-1">Phonoman #1</strong> PK level
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                <strong>20,000,000</strong> Zen per kill
                <i class="fas fa-times highlight red"></i>
            </li>
        </ul>
    </div>
    <div class="action">
        <div class="text-center">
            <a href="#" id="clear-pk-action" class="highlight">
                <i class="fas fa-times"></i>
                Clear PK
            </a>
        </div>
    </div>
    <div class="benefits text-right">
        <strong class="highlight">What you get?</strong>
        <ul class="right">
            <li><strong class="pk-level-commoner">Commoner</strong> PK level</li>
            <li><strong>1</strong> credit per kill</li>
        </ul>
    </div>
</section>
