<section class="character-option clear-pk">
    <div class="requirements">
        <strong class="highlight">Minimal Requirements</strong>
        <ul>
            <li>
                <strong>1,500,000,000</strong> Zen
                <i class="fas fa-times highlight red"></i>
            </li>
        </ul>
    </div>
    <div class="action">
        <div class="text-center">
            <a href="#" id="clear-pk-action" class="highlight">
                <i class="fas fa-times"></i>
                Clear Inventory
            </a>
        </div>
    </div>
    <div class="benefits text-right">
        <strong class="highlight">What you get?</strong>
        <ul class="right">
            <li><strong>1</strong> credit per <span class="item-excellent">Excellent</span> item</li>
            <li><strong>20</strong> credits per <span class="item-ancient">Ancient</span> item</li>
        </ul>
    </div>
</section>
