<section class="character-option dual-stats">
    <div class="requirements">
        <strong class="highlight">Minimal Requirements</strong>
        <ul>
            <li>
                At least <strong>20</strong> resets
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                <strong>200</strong> credits
                <i class="fas fa-times highlight red"></i>
            </li>
        </ul>
    </div>
    <div class="action">
        <div class="wrapper text-right">
            <div class="stat text-right">
                <span class="highlight red">Inactive</span>
            </div>
            <div class="stat">
                <label>Strength</label>
                <span class="highlight">9,800</span>
                <input type="text" name="strength" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Agility</label>
                <span class="highlight">10,063</span>
                <input type="text" name="agility" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Vitality</label>
                <span class="highlight">5,000</span>
                <input type="text" name="vitality" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Energy</label>
                <span class="highlight">12,000</span>
                <input type="text" name="energy" maxlength="5" placeholder="0" />
            </div>
            <div class="stat text-right">
                <span>
                    <strong>1,000</strong> stats points left
                </span>
            </div>
            <a href="#" id="dual-stats-activate-action" class="highlight inline">
                <i class="fas fa-check"></i>
                Make Active
            </a>
            <span class="separator">|</span>
            <a href="#" id="dual-stats-activate-action" class="highlight inline">
                <i class="fas fa-check"></i>
                Save
            </a>
        </div>
    </div>
    <div class="action">
        <div class="wrapper text-right">
            <div class="stat text-right">
                <span class="highlight green">Active</span>
            </div>
            <div class="stat">
                <label>Strength</label>
                <span class="highlight">9,800</span>
                <input type="text" name="strength" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Agility</label>
                <span class="highlight">10,063</span>
                <input type="text" name="agility" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Vitality</label>
                <span class="highlight">5,000</span>
                <input type="text" name="vitality" maxlength="5" placeholder="0" />
            </div>
            <div class="stat">
                <label>Energy</label>
                <span class="highlight">12,000</span>
                <input type="text" name="energy" maxlength="5" placeholder="0" />
            </div>
            <div class="stat text-right">
                <span>
                    <strong>1,000</strong> stats points left
                </span>
            </div>
            <a href="#" id="dual-stats-activate-action" class="highlight inline">
                <i class="fas fa-check"></i>
                Save
            </a>
        </div>
    </div>
</section>
