<section class="character-option grand-reset">
    <div class="requirements">
        <strong class="highlight">Minimal Requirements</strong>
        <ul>
            <li>
                Level <strong>400</strong>
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                <strong>999</strong> resets
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                <strong>2,000,000,000</strong> Zen
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                Equipped set <strong>+13</strong> with at least <strong>2</strong> <span class="item-excellent">excellent options</span>
                <i class="fas fa-times highlight red"></i>
            </li>
        </ul>
    </div>
    <div class="action">
        <div class="text-center">
            <a href="#" id="grand-reset-action" class="highlight">
                <i class="fas fa-sync-alt"></i>
                Grand Reset
            </a>
        </div>
    </div>
    <div class="benefits text-right">
        <strong class="highlight">What you get?</strong>
        <ul class="right">
            <li><strong>1000</strong> stats points</li>
            <li><strong>100</strong> credits</li>
        </ul>
    </div>
</section>
