<section class="character-option reset">
    <div class="requirements">
        <strong class="highlight">Minimal Requirements</strong>
        <ul>
            <li>
                Level <strong>400</strong>
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                Below <strong>999</strong> resets
                <i class="fas fa-check highlight green"></i>
            </li>
            <li>
                <strong>200,000,000</strong> Zen
                <i class="fas fa-times highlight red"></i>
            </li>
        </ul>
    </div>
    <div class="action disabled">
        <div class="text-center">
            <a href="#" id="reset-action" class="highlight">
                <i class="fas fa-sync-alt"></i>
                Reset
            </a>
        </div>
    </div>
    <div class="benefits text-right">
        <strong class="highlight">What you get?</strong>
        <ul class="right">
            <li><strong>500</strong> stats points</li>
            <li><strong>3</strong> credits</li>
        </ul>
    </div>
</section>
