<section class="webshop buy">
    <section class="links">
        <i class="fas fa-angle-double-right"></i>
        <a href="#/webshop" class="highlight">Webshop</a>
        <i class="fas fa-angle-double-right"></i>
        <a href="#/webshop/items" class="highlight">Items</a>
        <i class="fas fa-angle-double-right"></i>
        <a href="#/webshop/items/0" class="highlight">Armors</a>
    </section>

    <h1 class="highlight">Great Dragon Armor</h1>

    <section class="options">
        <div class="primary">
            <div class="image">
                <img src="/assets/items/00158000.gif" alt="Great Dragon Armor" />
            </div>

            <div class="basic option-group">
                <strong class="title highlight">Basic Options</strong>
                @@include('components/checkbox.html', {
                    "id": "luck",
                    "name": "luck",
                    "label": "Luck"
                })

                @@include('components/checkbox.html', {
                    "id": "skill",
                    "name": "skill",
                    "label": "Skill"
                })
            </div>

            <div class="guardian option-group">
                <strong class="title item-guardian">Guardian Options</strong>
                @@include('components/checkbox.html', {
                    "id": "guardian",
                    "name": "guardian",
                    "label": "SD Auto Recovery<br />Defense Success Rate increase +10"
                })
            </div>

            <div class="level option-group">
                <strong class="title highlight">Level</strong>
                <select name="level">
                    <option selected disabled>Select Level</option>
                    <option value="0">No Level</option>
                    @@for (var level = 1; level <= 13; level++) {
                        <option value="` + level + `">+` + level + `</option>
                    }
                </select>
            </div>

            <div class="option option-group">
                <strong class="title highlight">Additional Defense</strong>
                <select name="level">
                    <option selected disabled>Select Level</option>
                    <option value="0">No Level</option>
                    @@for (var option = 1; option <= 7; option++) {
                        <option value="` + option + `">+` + (option * 4) + `</option>
                    }
                </select>
            </div>
        </div>
        <div class="additional">
            <div class="excellent option-group">
                <strong class="title item-excellent">Excellent Options</strong>
                @@include('components/checkbox.html', {
                    "id": "exc_option_0",
                    "name": "exc_option_0",
                    "label": "Increase max HP +4%"
                })
                @@include('components/checkbox.html', {
                    "id": "exc_option_1",
                    "name": "exc_option_1",
                    "label": "Increase max Mana +4%"
                })
                @@include('components/checkbox.html', {
                    "id": "exc_option_2",
                    "name": "exc_option_2",
                    "label": "Damage decrease +4%"
                })
                @@include('components/checkbox.html', {
                    "id": "exc_option_3",
                    "name": "exc_option_3",
                    "label": "Reflect damage +5%"
                })
                @@include('components/checkbox.html', {
                    "id": "exc_option_4",
                    "name": "exc_option_4",
                    "label": "Defense success rate +10%"
                })
                @@include('components/checkbox.html', {
                    "id": "exc_option_5",
                    "name": "exc_option_5",
                    "label": "Increases acquisition rate of Zen after hunting monsters +40%"
                })
            </div>

            <div class="harmony option-group">
                <strong class="title item-harmony">Harmony Options</strong>
                <div class="holder">
                    <select class="type" name="harmony_type">
                        <option selected disabled>Select Harmony</option>
                        <option>No Option</option>
                        <option value="1">Defense success rate increase (PvP)</option>
                        <option value="2">Damage decrease rate increase</option>
                        <option value="3">Defense power increase</option>
                    </select>

                    <select class="level" name="harmony_level">
                        <option selected disabled>Select Level</option>
                        @@for (var option = 1; option <= 7; option++) {
                            <option value="` + option + `">+` + (option * 4) + `</option>
                        }
                    </select>
                </div>
            </div>

            <div class="sockets option-group">
                <strong class="title item-socket">Socket Options</strong>
                @@include('modules/webshop/partials/sockets.html')
                @@include('modules/webshop/partials/sockets.html')
                @@include('modules/webshop/partials/sockets.html')
                @@include('modules/webshop/partials/sockets.html')
                @@include('modules/webshop/partials/sockets.html')
            </div>

            <div class="ancient option-group">
                <strong class="title item-ancient-color-only">Ancient Options</strong>
                @@include('components/radio.html', {
                    "id": "ancient_0",
                    "name": "ancient",
                    "value": 0,
                    "label": "No set option",
                    "checked": true
                })
                @@include('components/radio.html', {
                    "id": "ancient_1",
                    "name": "ancient",
                    "value": 1,
                    "label": "Hyon"
                })
                @@include('components/radio.html', {
                    "id": "ancient_2",
                    "name": "ancient",
                    "value": 2,
                    "label": "Vicius"
                })
            </div>

            <div class="actions option-group">
                <button class="button gray">
                    Buy for 400 credits
                </button>
            </div>
        </div>
    </section>
</section>
