<section class="webshop categories">
    <section class="links">
        <i class="fas fa-angle-double-right"></i>
        <a href="#/webshop" class="highlight">Webshop</a>
    </section>

    <h1 class="highlight">select item category</h1>

    <section class="items">
        @@include('modules/webshop/partials/item.html', {
            "id": 6, "href": "items", "name": "Bows & Crossbows", "image": "00960000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 1, "href": "items", "name": "Helms", "image": "00ec0000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 2, "href": "items", "name": "Armors", "image": "000c8000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 3, "href": "items", "name": "Pants", "image": "002c8000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 4, "href": "items", "name": "Gloves", "image": "004c8000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 5, "href": "items", "name": "Boots", "image": "006c8000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 10, "href": "items", "name": "Jewels", "image": "00d08000.gif"
        })
    </section>
</section>
