<section class="webshop category">
    <section class="links">
        <i class="fas fa-angle-double-right"></i>
        <a href="#/webshop" class="highlight">Webshop</a>
        <i class="fas fa-angle-double-right"></i>
        <a href="#/webshop/items" class="highlight">Items</a>
    </section>

    <h1 class="highlight">armors</h1>

    <section class="items">
        @@include('modules/webshop/partials/item.html', {
            "id": 2, "href": "buy", "name": "Wind Armor", "image": "000c8000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 3, "href": "buy", "name": "Legendary Armor", "image": "00128000.gif"
        })

        @@include('modules/webshop/partials/item.html', {
            "id": 4, "href": "buy", "name": "Great Dragon Armor", "image": "00158000.gif"
        })
    </section>
</section>
