<table class="rankings admins">
    <colgroup>
        <col style="width: 150px;" />
        <col style="width: 120px;" />
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th class="right">Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @@include('components/status.html', {"type": "online"})
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td class="right">Illusion Temple 6</td>
        </tr>
        <tr>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Rotterdam">Rotterdam</a>
            </td>
            <td class="right">Lorencia</td>
        </tr>
    </tbody>
</table>
