<table class="rankings banned">
    <colgroup>
        <col style="width: 20px;" />
        <col style="width: 150px;" />
        <col style="width: 200px;" />
        <col style="width: 150px;" />
    </colgroup>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Name</th>
            <th class="right">Reason</th>
            <th class="right">Until</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td>
                <a href="#/character/DemonuMu">DemonuMu</a>
            </td>
            <td class="right">Noob.</td>
            <td class="right">
                <span class="highlight red">PERMANENT</span>
            </td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td>
                <a href="#/character/h4x0r5">h4x0r5</a>
            </td>
            <td class="right">Wall hack?!?! Plz halp!</td>
            <td class="right">30/12/2018 21:00</td>
        </tr>
    </tbody>
</table>
