<table class="rankings blood-castle">
    <colgroup>
        <col style="width: 20px;" />
        <col style="width: 150px;" />
        <col style="width: 100px;" />
        <col style="width: 150px;" />
        <col style="width: 120px;" />
    </colgroup>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Name</th>
            <th>Class</th>
            <th class="center">
                <a href="#/rankings/characters/sort" class="highlight">Lvl</a>
                <i class="separator">|</i>
                <a href="#/rankings/characters/sort" class="highlight">Res</a>
                <i class="separator">|</i>
                <a href="#/rankings/characters/sort" class="highlight">GRes</a>
            </th>
            <th class="right">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td>
                @@include('components/status.html', {"type": "online"})
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td>
                <img src="/assets/classes/blade-master.jpg" alt="Blade Master" />
            </td>
            <td class="center">400 | 078 | 002</td>
            <td class="right">32,180</td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Rotterdam">Rotterdam</a>
            </td>
            <td>
                <img src="/assets/classes/soul-master.jpg" alt="Soul Master" />
            </td>
            <td class="center">400 | 001 | 002</td>
            <td class="right">18,310</td>
        </tr>
        <tr>
            <td class="center">3</td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Hardcore">Hardcore</a>
            </td>
            <td>
                <img src="/assets/classes/dark-lord.jpg" alt="Dark Lord" />
            </td>
            <td class="center">209 | 050 | 001</td>
            <td class="right">4,010</td>
        </tr>
    </tbody>
</table>
