<table class="rankings guilds">
    <colgroup>
        <col style="width: 20px;" />
        <col style="width: 150px;" />
        <col style="width: 150px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
    </colgroup>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Name</th>
            <th>Leader</th>
            <th class="right">
                <a href="#/rankings/characters/sort/members/asc" class="highlight">Members</a>
            </th>
            <th class="right">
                <a href="#/rankings/characters/sort/score/asc" class="highlight">Score</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td>
                <img src="/assets/guild-marks/mark-admins.jpg" alt="Admins mark" />
                <a href="#/guild/ADMINS">ADMINS</a>
            </td>
            <td>
                @@include('components/status.html', {"type": "online"})
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td class="right">22</td>
            <td class="right">7</td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td>
                <img src="/assets/guild-marks/mark-parkzicht.jpg" alt="Admins mark" />
                <a href="#/guild/Parkzicht">Parkzicht</a>
            </td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/RaFa">Rotterdam</a>
            </td>
            <td class="right">2</td>
            <td class="right">3</td>
        </tr>
    </tbody>
</table>
