<table class="rankings killers">
    <colgroup>
        <col style="width: 20px;" />
        <col style="width: 150px;" />
        <col style="width: 100px;" />
        <col style="width: 150px;" />
        <col style="width: 70px;" />
        <col style="width: 130px;" />
    </colgroup>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Name</th>
            <th>Class</th>
            <th class="center">
                <a href="#/rankings/characters/sort" class="highlight">Current Status</a>
            </th>
            <th class="right">
                <a href="#/rankings/characters/sort" class="highlight">Kills</a>
            </th>
            <th class="right">Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td>
                @@include('components/status.html', {"type": "online"})
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td>
                <img src="/assets/classes/blade-master.jpg" alt="Blade Master" />
            </td>
            <td class="center pk-level-phonoman-2">
                Phonoman #2
            </td>
            <td class="right">102</td>
            <td class="right">Illusion Temple 6</td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Rotterdam">Rotterdam</a>
            </td>
            <td>
                <img src="/assets/classes/soul-master.jpg" alt="Soul Master" />
            </td>
            <td class="center pk-level-hero-2">
                Hero #2
            </td>
            <td class="right">90</td>
            <td class="right">Lorencia</td>
        </tr>
        <tr>
            <td class="center">3</td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Hardcore">Hardcore</a>
            </td>
            <td>
                <img src="/assets/classes/dark-lord.jpg" alt="Dark Lord" />
            </td>
            <td class="center pk-level-commoner">
                Commoner
            </td>
            <td class="right">43</td>
            <td class="right">Swamp of Calmness</td>
        </tr>
    </tbody>
</table>
