<table class="rankings online">
    <colgroup>
        <col style="width: 20px;" />
        <col style="width: 150px;" />
        <col style="width: 100px;" />
        <col style="width: 150px;" />
        <col style="width: 180px;" />
    </colgroup>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Name</th>
            <th>Class</th>
            <th class="center">
                <a href="#/rankings/characters/sort" class="highlight">Lvl</a>
                <i class="separator">|</i>
                <a href="#/rankings/characters/sort" class="highlight">Res</a>
                <i class="separator">|</i>
                <a href="#/rankings/characters/sort" class="highlight">GRes</a>
            </th>
            <th class="right">Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td>
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td>
                <img src="/assets/classes/blade-master.jpg" alt="Blade Master" />
            </td>
            <td class="center">400 | 078 | 002</td>
            <td class="right">Illusion Temple 6 <span class="separator">140 153</span></td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td>
                <a href="#/character/Rotterdam">Rotterdam</a>
            </td>
            <td>
                <img src="/assets/classes/soul-master.jpg" alt="Soul Master" />
            </td>
            <td class="center">400 | 001 | 002</td>
            <td class="right">Lorencia <span class="separator">125 133</span></td>
        </tr>
        <tr>
            <td class="center">3</td>
            <td>
                <a href="#/character/Hardcore">Hardcore</a>
            </td>
            <td>
                <img src="/assets/classes/dark-lord.jpg" alt="Dark Lord" />
            </td>
            <td class="center">209 | 050 | 001</td>
            <td class="right">Swamp of Calmness <span class="separator">7 13</span></td>
        </tr>
    </tbody>
</table>
