<table class="rankings voters">
    <colgroup>
        <col style="width: 20px;" />
        <col style="width: 150px;" />
        <col style="width: 80px;" />
        <col style="width: 150px;" />
    </colgroup>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Name</th>
            <th class="right">Votes</th>
            <th class="right">Last Vote</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td>
                @@include('components/status.html', {"type": "online"})
                <a href="#/character/RaFa">RaFa</a>
            </td>
            <td class="right">20</td>
            <td class="right">16/12/2018 14:38</td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td>
                @@include('components/status.html', {"type": "offline"})
                <a href="#/character/Rotterdam">Rotterdam</a>
            </td>
            <td class="right">12</td>
            <td class="right">16/12/2018 15:41</td>
        </tr>
    </tbody>
</table>
