<section class="search">
    <h1>Search Items</h1>
    <div class="item-categories">
        <select>
            <option selected>Category</option>
            <option value="0">Armor</option>
            <option value="1">Pants</option>
        </select>
        <select>
            <option selected>Item</option>
            <option value="0">Dragon Armor</option>
            <option value="1">Legendary Armor</option>
        </select>
    </div>
    <div class="item-text">
        <input type="text" name="item" placeholder="item name" />
        <div class="action">
            <a href="#/market/search" class="highlight">
                <i class="fas fa-search"></i>
                Search
            </a>
        </div>
    </div>
</section>
<section class="market">
    <section class="last">
        <h1 class="text-center">Last Market Items</h1>
        <table class="transparent">
            <colgroup>
                <col style="width: 200px;" />
                <col style="width: 150px;" />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Merchant</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @@include('modules/market/partials/item-row.html', {
                    "id": 2,
                    "merchant": "RaFa",
                    "item": "Dragon Armor",
                    "type": "ancient",
                    "exchangeType": "items",
                    "exchangeItems": [
                        {"count": 10, "image": "00ce8000.gif", "name": "Jewel of Soul"},
                        {"count": 2, "image": "00d08000.gif", "name": "Jewel of Soul"},
                        {"count": 1, "image": "00d68000.gif", "name": "Jewel of Life"}
                    ]
                })
                @@include('modules/market/partials/item-row.html', {
                    "id": 3,
                    "merchant": "RaFa",
                    "item": "Legendary Armor",
                    "type": "excellent",
                    "exchangeType": "credits",
                    "credits": 200
                })
                @@include('modules/market/partials/item-row.html', {
                    "id": 4,
                    "merchant": "Estasia",
                    "item": "Box of Kundun +5",
                    "type": "normal",
                    "exchangeType": "credits",
                    "credits": 50
                })
                @@include('modules/market/partials/item-row.html', {
                    "id": 5,
                    "merchant": "Estasia",
                    "item": "Box of Kundun +5",
                    "type": "normal",
                    "exchangeType": "credits",
                    "credits": 50
                })
                @@include('modules/market/partials/item-row.html', {
                    "id": 6,
                    "merchant": "Estasia",
                    "item": "Box of Kundun +5",
                    "type": "normal",
                    "exchangeType": "credits",
                    "credits": 50
                })
                @@include('modules/market/partials/item-row.html', {
                    "id": 7,
                    "merchant": "Estasia",
                    "item": "Guardian Armor",
                    "type": "excellent",
                    "exchangeType": "credits",
                    "credits": 150
                })
                @@include('modules/market/partials/item-row.html', {
                    "id": 8,
                    "merchant": "Estasia",
                    "item": "Guardian Boots",
                    "type": "excellent",
                    "exchangeType": "credits",
                    "credits": 150
                })
            </tbody>
        </table>
    </section>
    <section class="free">
        <h1 class="text-center">Random <span class="highlight">FREE</span> Items</h1>
        <table class="transparent">
            <colgroup>
                <col />
                <col style="width: 150px;" />
            </colgroup>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Merchant</th>
                </tr>
            </thead>
            <tbody>
                @@include('modules/market/partials/item-free-row.html', {
                    "id": 21,
                    "merchant": "RaFa",
                    "item": "Dragon Armor",
                    "type": "excellent"
                })
                @@include('modules/market/partials/item-free-row.html', {
                    "id": 10,
                    "merchant": "RaFa",
                    "item": "Jewel of Bless",
                    "type": "normal"
                })
                @@include('modules/market/partials/item-free-row.html', {
                    "id": 11,
                    "merchant": "Rotterdam",
                    "item": "Book of Evil Spirit",
                    "type": "normal"
                })
                @@include('modules/market/partials/item-free-row.html', {
                    "id": 12,
                    "merchant": "Rotterdam",
                    "item": "Book of Lightning",
                    "type": "normal"
                })
                @@include('modules/market/partials/item-free-row.html', {
                    "id": 13,
                    "merchant": "RaFa",
                    "item": "Dragon Helm",
                    "type": "expensive"
                })
                @@include('modules/market/partials/item-free-row.html', {
                    "id": 14,
                    "merchant": "RaFa",
                    "item": "Scale Helm",
                    "type": "expensive"
                })
                @@include('modules/market/partials/item-free-row.html', {
                    "id": 15,
                    "merchant": "Rotterdam",
                    "item": "Scale Armor",
                    "type": "expensive"
                })
            </tbody>
        </table>
    </section>
</section>
