<section class="my-market">
    <h1>My Market</h1>
    <div class="actions">
        <a href="#/market/sell" class="highlight">
            <i class="fas fa-dollar-sign"></i> Sell Items
        </a>
        <a href="#/market/search" class="highlight">
            <i class="fas fa-search"></i> Search Items
        </a>
    </div>
</section>
<section class="my-market-items">
    <table class="transparent">
        <colgroup>
            <col />
            <col style="width: 150px;" />
            <col style="width: 250px;" />
            <col style="width: 150px;" />
        </colgroup>
        <thead>
            <tr>
                <th>Item</th>
                <th>Added</th>
                <th>Price</th>
                <th class="right">Actions</th>
            </tr>
        </thead>
        <tbody>
            @@include('modules/market/partials/item-my-row.html', {
                "id": 21,
                "date": "58 minutes ago",
                "item": "Dragon Armor",
                "type": "ancient",
                "exchangeType": "items",
                "exchangeItems": [
                    {"count": 10, "image": "00ce8000.gif", "name": "Jewel of Soul"},
                    {"count": 2, "image": "00d08000.gif", "name": "Jewel of Soul"},
                    {"count": 1, "image": "00d68000.gif", "name": "Jewel of Life"}
                ]
            })
            @@include('modules/market/partials/item-my-row.html', {
                "id": 10,
                "date": "1 day ago",
                "item": "Jewel of Bless",
                "type": "normal",
                "exchangeType": "free"
            })
            @@include('modules/market/partials/item-my-row.html', {
                "id": 13,
                "date": "5 days ago",
                "item": "Dragon Helm",
                "type": "expensive",
                "exchangeType": "credits",
                "credits": 20
            })
            @@include('modules/market/partials/item-my-row.html', {
                "id": 14,
                "date": "10 days ago",
                "item": "Scale Helm",
                "type": "expensive",
                "exchangeType": "credits",
                "credits": 20
            })
            @@include('modules/market/partials/item-my-row.html', {
                "id": 15,
                "date": "10 days ago",
                "item": "Scale Armor",
                "type": "expensive",
                "exchangeType": "free"
            })
        </tbody>
    </table>
</section>
