<section class="market-sell">
    <section class="items">
        <section class="vault web">
            <div class="item" draggable="true" data-y="3" data-x="2" data-slot="0">
                <img src="/assets/items/00158000.gif" alt="Great Dragon Armor" />
            </div>
            <div class="item selected" draggable="true" data-y="3" data-x="4" data-slot="32">
                <img src="/assets/items/10838000.gif" alt="Wings of Elf" />
            </div>
            <div class="item selected" draggable="true" data-y="1" data-x="1" data-slot="10">
                <img src="/assets/items/00cb800009.gif" alt="Box of Kundun +2" />
            </div>
        </section>
    </section>
    <section class="price">
        <h2 class="highlight">Selected Items</h2>
        <div class="selected-items-row">
            <div class="item wings">
                <img src="/assets/items/10838000.gif" alt="Wings of the Elf" />
                <a href="#/market/sell" class="remove">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="item">
                <img src="/assets/items/00cb800009.gif" alt="Box of Kundun +2" />
                <a href="#/market/sell" class="remove">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>

        <h2 class="highlight price">Price</h2>
        <div id="price-list">
            <a href="#/market/sell"><strong>300</strong> credits</a>
            <a href="#/market/sell" class="remove">
                <i class="fas fa-times"></i>
            </a>

            <a href="#/market/sell" class="item-excellent">Dragon Helm</a>
            <a href="#/market/sell" class="remove">
                <i class="fas fa-times"></i>
            </a>

            <a href="#/market/sell" class="item-ancient">Dragon Helm</a>
            <a href="#/market/sell" class="remove">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <a href="#/market/sell">
            <i class="fas fa-plus"></i>
            Add
        </a>

        <h2 class="highlight">Store Options</h2>
        @@include('components/checkbox.html', {
            "id": "bidding",
            "name": "bidding",
            "label": "Enable bidding"
        })
        <div class="input hidden">
            Expires in <input type="number" name="expiration" value="1" min="1" max="10" /> day(s).
        </div>
        @@include('components/checkbox.html', {
            "id": "anonymous",
            "name": "anonymous",
            "label": "Show as me as Anonymous merchant"
        })

        <h2 class="highlight">Merchant</h2>
        <div class="merchants">
            @@include('components/radio.html', {
                "id": "merchant_0",
                "name": "merchant",
                "value": "RaFa",
                "label": "RaFa",
                "checked": true
            })

            @@include('components/radio.html', {
                "id": "merchant_1",
                "name": "merchant",
                "value": "Rotterdam",
                "label": "Rotterdam"
            })
        </div>

        <div class="actions">
            <a href="#/market/sell" class="highlight sell">
                <i class="fas fa-check"></i>
                Sell Items
            </a>
        </div>
    </section>
</section>
