<tr>
    <td>
        <a href="#/market/item/@@id">
            <span class="item-@@type">@@item</span>
        </a>
    </td>
    <td>@@date</td>
    <td>
        @@if (exchangeType === 'items') {
            <div class="item-price">
            @@for (var i = 0; i < exchangeItems.length; i++) {
                <div class="exchange-item">
                    <strong>` + exchangeItems[i].count + `</strong>
                    <img src="/assets/items/` + exchangeItems[i].image + `" alt="` + exchangeItems[i].name + `" />
                </div>
            }
            </div>
        }

        @@if (exchangeType === 'credits') {
            <strong>@@credits</strong> credits
        }

        @@if (exchangeType === 'free') {
            <strong class="highlight red">FREE!</strong>
        }
    </td>
    <td class="right">
        <button type="submit" class="button">edit</button>
        <button type="submit" class="button gray">withdraw</button>
    </td>
</tr>
