<tr>
    <td>
        <a href="#/market/item/@@id">
            <span class="item-@@type">@@item</span>
        </a>
    </td>
    <td>
        <a href="#/market/character/@@merchant">@@merchant</a>
    </td>
</tr>
