<div class="item">
    <a href="#/webshop/@@href/@@id">
        <div class="image-holder">
            <img src="/assets/items/@@image" alt="@@name" />
        </div>
        <h2 class="highlight">
            <span>@@name</span>
        </h2>
    </a>
</div>
