<select class="socket" name="socket[]">
    <option selected disabled>Select Socket</option>
    <option>No Slot</option>
    <option value="0">Empty Slot</option>
    <optgroup label="Fire">
        <option value="1">Attack speed increase +5</option>
    </optgroup>
    <optgroup label="Water">
        <option value="2">Damage reduction +2</option>
    </optgroup>
    <optgroup label="Earth">
        <option value="3">Stamina increase +15</option>
    </optgroup>
    <optgroup label="Wind">
        <option value="4">Maximum AG increase +1%</option>
    </optgroup>
    <optgroup label="Lightening">
        <option value="5">Critical damage increase +30</option>
    </optgroup>
    <optgroup label="Ice">
        <option value="6">Attack success rate increase +0.2%</option>
    </optgroup>
</select>
