.home-page {
    display: flex;

    section.news {
        flex: 0 1 50%;
        margin-left: 10px;

        .news-block {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    section.statistics {
        flex: 0 1 50%;
        margin-right: 10px;

        .tabs,
        .content-box {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
