input[type="text"],
input[type="password"],
input[type="number"],
select {
    background-color: $input-background;
    border: 1px solid $input-border-color;
    color: $input-color;
    height: $input-height;
    line-height: $input-height;
    box-sizing: border-box;
    padding: 0 7px;
    border-radius: 0;
    margin: 0;
}

input[type="number"] {
    padding: 0 3px 0 7px; // Because of the up/down arrows
}


input,
select {
    @include font();
}

select {
    padding: 0 3px;
    width: 100%;
}
