main {
    width: $max-width;
    background-color: $main-background;
    border-top: 2px solid $main-border-top;
    border-bottom: 2px solid $main-border-bottom;
    position: relative;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;

    img.loader {
        position: relative;
        z-index: 9999;
        display: block;
        margin: 0 auto;
    }

    .overlay {
        background-color: $main-overlay;
        position: absolute;
        z-index: 9998;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
