span.status {
    display: inline-block;
    margin-right: 2px;
    border-radius: 100%;
    width: 9px;
    height: 9px;

    &.online {
        background-color: $status-online;
        border: 1px solid darken($status-online, 10%);
    }

    &.offline {
        background-color: $status-offline;
        border: 1px solid darken($status-offline, 10%);
    }
}
