<section class="character-details">
    <div class="character">
        <h1 id="character-name">Estasia</h1>
        <div class="img-wrapper">
            <img id="character-image" class="no-drag" src="/assets/classes/fairy-elf-character.png" alt="Fairy Elf" />
        </div>
    </div>
    <div class="statistics">
        <div class="title text-center">
            <strong>Character Information</strong>
        </div>
        <table class="transparent">
            <tbody>
                <tr>
                    <td>Level</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>Master Level</td>
                    <td>217</td>
                </tr>
                <tr>
                    <td>Resets</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Grand Resets</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Guild</td>
                    <td>
                        <a href="#/guild/ADMINS">ADMINS</a>
                    </td>
                </tr>
                <tr>
                    <td>Class</td>
                    <td>Fairy Elf</td>
                </tr>
                <tr>
                    <td>PK Level</td>
                    <td>
                        <span class="pk-level-phonoman-2">Phonoman #2 (102)</span>
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>
                        Lorencia <span class="separator">104 120</span>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td class="status">
                        @@include('components/status.html', {"type": "online"}) Online
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="character-item-details">
    <div class="title text-center">
        <strong>Equipped Items</strong>
    </div>
    <div class="items-row">
        <div class="item">
            <img src="/assets/items/00ec0000.gif" alt="Wind Helm" />
        </div>
        <div class="item">
            <img src="/assets/items/000c8000.gif" alt="Wind Armor" />
        </div>
        <div class="item">
            <img src="/assets/items/002c8000.gif" alt="Wind Pants" />
        </div>
        <div class="item">
            <img src="/assets/items/004c8000.gif" alt="Wind Gloves" />
        </div>
        <div class="item">
            <img src="/assets/items/006c8000.gif" alt="Wind Boots" />
        </div>
        <div class="item">
            <img src="/assets/items/00960000.gif" alt="Albatross Bow" />
        </div>
        <div class="item">
            <img src="/assets/items/008f0000.gif" alt="Arrows" />
        </div>
        <div class="item">
            <img src="/assets/items/00A18000.gif" alt="Imp" />
        </div>
        <div class="item">
            <img src="/assets/items/01ac8000.gif" alt="Pendant of Wind" />
        </div>
        <div class="item">
            <img src="/assets/items/00a98000.gif" alt="Ring of Wind" />
        </div>
        <div class="item">
            <img src="/assets/items/00a98000.gif" alt="Ring of Wind" />
        </div>
        <div class="item wings">
            <img src="/assets/items/10838000.gif" alt="Wings of the Elf" />
        </div>
    </div>
</section>
