<section class="downloads">
    <div class="mirror">
        <div class="content">
            <div class="info">
                <h1 class="highlight">DarkPowerMu - Full Client</h1>
                <p>Added on <strong>18/12/2018 at 8:14</strong></p>
                <p><strong>mega.nz</strong></p>
                <p><strong>650MB</strong></p>
            </div>
            <div class="download">
                <a href="//mega.nz" target="_blank">
                    <i class="icon fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="mirror">
        <div class="content">
            <div class="info">
                <h1 class="highlight">DarkPowerMu - Full Client</h1>
                <p>Added on <strong>18/12/2018 at 9:04</strong></p>
                <p><strong>zippyshare.com</strong></p>
                <p><strong>650MB</strong></p>
            </div>
            <div class="download">
                <a href="//zippyshare.com" target="_blank">
                    <i class="icon fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>
