<section class="guild-details">
    <div class="guild">
        <h1 id="guild-name">ADMINS</h1>
        <div class="img-wrapper">
            <img id="guild-image" class="no-drag" src="/assets/guild-marks/mark-admins.jpg" alt="ADMINS" />
        </div>
    </div>
    <div class="statistics">
        <div class="title text-center">
            <strong>Guild Information</strong>
        </div>
        <table class="transparent">
            <tbody>
                <tr>
                    <td>Score</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>Master</td>
                    <td>
                        <a href="#/character/RaFa">RaFa</a>
                    </td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="guild-member-details">
    <div class="title text-center">
        <strong>Members</strong>
    </div>
    <table class="transparent">
        <colgroup>
            <col />
            <col style="width: 100px;" />
            <col style="width: 150px;" />
        </colgroup>
        <tbody>
            <tr>
                <td>
                    @@include('components/status.html', {"type": "online"})
                    <a href="#/character/RaFa">RaFa</a>
                </td>
                <td>
                    <img src="/assets/classes/blade-master.jpg" alt="Blade Master" />
                </td>
                <td class="right">Guild Master</td>
            </tr>
            <tr>
                <td>
                    @@include('components/status.html', {"type": "offline"})
                    <a href="#/character/Estasia">Estasia</a>
                </td>
                <td>
                    <img src="/assets/classes/dimension-master.jpg" alt="Dimension Master" />
                </td>
                <td class="right">Battle Master</td>
            </tr>
        </tbody>
    </table>
</section>
