<div class="home-page">
    <section class="statistics">
        @@include('components/tabs.html')

        @@include('components/content-box.html', {
            "title": "Test Content Box",
            "data": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum lacus urna, et sollicitudin odio ultricies posuere."
        })
    </section>

    <section class="news">
        @@include('modules/partials/news-block.html', {
            "title": "Good news!",
            "information": "Posted By RaFa | 4 Dec 2018",
            "data": "Pellentesque a dui sagittis, mattis nisi in, cursus arcu. Vestibulum sit amet tempus velit. Cras laoreet sollicitudin pellentesque. Nullam laoreet, dui in elementum luctus, velit justo aliquet augue, sit amet tempor lectus elit sed nulla. Pellentesque sit amet porttitor elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        })
        @@include('modules/partials/news-block.html', {
            "title": "News title",
            "information": "Posted By RaFa | 3 Dec 2018",
            "data": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum lacus urna, et sollicitudin odio ultricies posuere. Nullam eget consequat felis. Nulla ut venenatis ipsum, in sagittis dolor. Cras tortor tellus, pretium interdum bibendum at, porta vitae dolor. Nullam commodo ac ligula a efficitur. Maecenas pellentesque nisi vestibulum, faucibus neque sed, interdum augue. Morbi malesuada magna non ipsum fringilla, quis feugiat orci dictum. Pellentesque a dui sagittis, mattis nisi in, cursus arcu. Vestibulum sit amet tempus velit. Cras laoreet sollicitudin pellentesque. Nullam laoreet, dui in elementum luctus, velit justo aliquet augue, sit amet tempor lectus elit sed nulla. Pellentesque sit amet porttitor elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        })
    </section>
</div>
