section.guild-details {
    display: flex;
    width: 500px;
    margin: 0 auto;

    .guild {
        flex: 0 0 200px;
        width: 133px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h1 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        img {
            width: 90px;
            height: 90px;
            border: 1px solid $table-transparent-border;
        }
    }

    .statistics {
        flex: 1;
    }
}


section.guild-member-details {
    width: 500px;
    margin: 0 auto;

    table {
        width: 100%;
    }
}
