<footer>
    <div class="quick-links">
        <a href="#home">home</a> -
        <a href="#statistics">statistics</a> -
        <a href="#downloads">downloads</a> -
        <a href="#vote">vote for us</a> -
        <a href="#webshop">webshop</a> -
        <a href="#site-map">site map</a>
    </div>
    <div class="credits">
        (c) XWeb 2009 [clone] | Front-end by RaFa | Design by Anthony
    </div>
</footer>
