<header>
    <div class="logo">
        <img src="/assets/images/logo.png" alt="Mu Online Logo" />
    </div>
    <div class="login">
        <form action="" method="post">
            <h2><i class="fas fa-angle-double-right"></i> Members Login</h2>
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <ul class="links no-bullet">
                <li>
                    <a href="#" class="dark">New account</a>
                </li>
                <li>
                    <a href="#" class="dark">Lost password?</a>
                </li>
            </ul>
            <div class="controls">
                <div class="remember-me">
                    @@include('components/checkbox.html', {
                        "id": "remember-me",
                        "name": "remember",
                        "label": "Keep me signed-in"
                    })
                </div>
                <div class="sign-in">
                    <button type="submit" class="button gray">Login</button>
                </div>
            </div>
        </form>
    </div>
</header>
