<section class="top-bar">
    <div class="title">
        <div class="content">
            <div class="message">
                <i class="fas fa-angle-double-right"></i>
                WELCOME TO <span class="server-name">DarkPowerMu</span>, ENJOY YOUR STAY ~ SERVER TIME IS: <span class="time">14:48</span>
            </div>
            <div class="links">
                <i class="fas fa-angle-double-right"></i>
                <a href="#">home</a>
                <i class="fas fa-angle-double-right"></i>
                <a href="#">forum</a>
                <i class="fas fa-angle-double-right"></i>
                <a href="#">downloads</a>
                <i class="fas fa-angle-double-right"></i>
                <a href="#">vote</a>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="content">
            DarkPowerMu: <strong class="status online">Online</strong> ~
            DarkPowerMu VIP: <strong class="status online">Online</strong> ~
            Castle Siege: <strong class="status offline">Offline</strong>
        </div>
    </div>
</section>
