.pk-level {
    &-hero-2 {
        color: $pk-level-hero-2;
    }

    &-hero-1 {
        color: $pk-level-hero-1;
    }

    &-commoner {
        color: $pk-level-commoner;
    }

    &-phonoman-1 {
        color: $pk-level-phonoman-1;
    }

    &-phonoman-2 {
        color: $pk-level-phonoman-2;
    }

    &-murderer {
        color: $pk-level-murderer;
    }
}
