<div class="checkbox">
    <div class="box">
        @@if (context.id) {
            <input type="checkbox" id="@@id" name="@@name" />
        }

        @@if (!context.id) {
            <input type="checkbox" name="@@name" />
        }
        <i class="fas fa-check"></i>
    </div>
    @@if (context.label) {
        <label for="@@id">@@label</label>
    }
</div>
