<div class="radio">
    <div class="box">
        @@if (context.checked) {
            <input type="radio" id="@@id" name="@@name" value="@@value" checked />
        }

        @@if (!context.checked) {
            <input type="radio" id="@@id" name="@@name" value="@@value" />
        }
        <i class="circle"></i>
    </div>
    <label for="@@id">@@label</label>
</div>
