<section id="home-tabs" class="tabs">
    <div class="pills">
        <a href="#" class="selected">info</a>
        <a href="#">hot items</a>
        <a href="#">server staff</a>
        <a href="#">users in web</a>
        <a href="#">event timers</a>
    </div>
    <div class="content">
        <div>@@include('modules/partials/home-info.html')</div>
        <div>@@include('modules/partials/home-hot.html')</div>
        <div>@@include('modules/partials/home-staff.html')</div>
        <div><h1>Tab 4</h1></div>
        <div>@@include('modules/partials/home-timers.html')</div>
    </div>
</section>
