<a href="@@url" class="item">
    <h2 class="item-name">
        <span>@@name</span>
    </h2>
    @@if (!preview) {
        <div class="item-info">
            Expires in <strong>@@expirationTime</strong> |
            @@if (bids === 0) { no bids }
            @@if (bids > 0) { <strong>@@bids</strong> bids }
        </div>
    }
    <div class="item-image">
        <img src="/assets/items/@@image" alt="@@name" />
    </div>
    @@if (!preview) {
        <div class="item-price">
            @@if (exchangeType === 'items') {
                @@for (var i = 0; i < exchangeItems.length; i++) {
                    <div class="exchange-item">
                        <strong>` + exchangeItems[i].count + `</strong>
                        <img src="/assets/items/` + exchangeItems[i].image + `" alt="` + exchangeItems[i].name + `" />
                    </div>
                }
            }

            @@if (exchangeType === 'credits') {
                <strong>@@credits</strong> credits
            }

            @@if (exchangeType === 'free') {
                <strong class="free">FREE!</strong>
            }
        </div>
    }
</a>
