<section class="home-info">
    <div class="info-row">
        <div class="info-block">
            @@include('modules/partials/home-info-item.html', {
                "id": 34,
                "url": "#/webshop/item/34",
                "name": "Divine Bow",
                "image": "00910000.gif",
                "preview": true
            })
        </div>
        <div class="info-block">
            @@include('modules/partials/home-info-item.html', {
                "id": 138,
                "url": "#/webshop/item/138",
                "name": "Wings of Elf",
                "image": "10838000.gif",
                "preview": true
            })
        </div>
    </div>
    <div class="info-row">
        <div class="info-block">
            @@include('modules/partials/home-info-item.html', {
                "id": 87,
                "url": "#/webshop/item/87",
                "name": "Legendary Armor",
                "image": "00128000.gif",
                "preview": true
            })
        </div>
        <div class="info-block">
            @@include('modules/partials/home-info-item.html', {
                "id": 189,
                "url": "#/webshop/item/189",
                "name": "Box of Kundun +2",
                "image": "00cb800009.gif",
                "preview": true
            })
        </div>
    </div>
</section>
