<section class="home-info home-staff">
    <div class="info-row">
        <div class="info-block">
            <div>RaFa</div>
            <div>
                @@include('components/status.html', {"type": "online"})
                Online
            </div>
        </div>
        <div class="info-block right">
            <div>Rotterdam</div>
            <div>
                @@include('components/status.html', {"type": "offline"})
                Offline
            </div>
        </div>
    </div>
</section>
