<section class="home-info">
    <div class="info-row">
        <div class="info-block">
            @@include('modules/partials/home-info-item.html', {
                "id": 1234,
                "url": "#/market/item/1234",
                "name": "Legendary Armor",
                "image": "00128000.gif",
                "expirationTime": "12h",
                "bids": 12,
                "exchangeType": "items",
                "credits": 300,
                "exchangeItems": [
                    {"count": 10, "image": "00ce8000.gif", "name": "Jewel of Soul"},
                    {"count": 2, "image": "00d08000.gif", "name": "Jewel of Soul"},
                    {"count": 1, "image": "00d68000.gif", "name": "Jewel of Life"}
                ],
                "preview": false
            })
        </div>
        <div class="info-block">
            @@include('modules/partials/home-info-item.html', {
                "id": 7777,
                "url": "#/market/item/7777",
                "name": "Box of Kundun +2",
                "image": "00cb800009.gif",
                "expirationTime": "12h",
                "bids": 0,
                "exchangeType": "credits",
                "credits": 300,
                "preview": false
            })
        </div>
    </div>
    <div class="info-row">
        <div class="info-block">
            <a href="#/online/server/1">
                Normal | 33xp, 33% Drop (<span class="highlight">12</span>)
            </a>
        </div>
        <div class="info-block right">
            <a href="#/online/server/1">
                VIP | 50xp, 40% Drop (<span class="highlight">30</span>)
            </a>

        </div>
    </div>
    <div class="info-row">
        <div class="info-block center">
            <a href="#/online/server/1">
                Castle Siege | 20xp, 50% Drop (<span class="highlight">17</span>)
            </a>
        </div>
    </div>
    <div class="info-row">
        <div class="info-block online-statistics">
            <div class="total-online">
                <a href="#/online/server/1">
                    Total Online (<span class="highlight">59</span>)
                </a>
            </div>
            <div class="online-record highlight">
                record: 112
            </div>
        </div>
    </div>
</section>
