<section class="home-info">
    <div class="info-row">
        <div class="info-block event-timers">
            <div class="event-timer">
                <div class="name">Blood Castle</div>
                <div class="time highlight" id="blood-castle-timer">1:00</div>
            </div>
            <div class="event-timer">
                <div class="name">Chaos Castle</div>
                <div class="time highlight">1:00</div>
            </div>
            <div class="event-timer">
                <div class="name">Golden Invasion</div>
                <div class="time highlight">1:00</div>
            </div>
        </div>
        <div class="info-block event-timers">
            <div class="event-timer">
                <div class="name">Devil Square</div>
                <div class="time highlight">1:00</div>
            </div>
            <div class="event-timer">
                <div class="name">Crywolf Event</div>
                <div class="time highlight">1:00</div>
            </div>
            <div class="event-timer">
                <div class="name">White Wizard</div>
                <div class="time highlight">1:00</div>
            </div>
        </div>
    </div>
</section>
