<article class="news-block">
    <div class="title">
        <div class="icon"></div>
        <div class="text">
            <h1>@@title</h1>
            <h2>@@information</h2>
        </div>
    </div>
    <div class="content">@@data</div>
    <div class="footer"></div>
</article>
