<section class="character-panel">
    <div class="character">
        <h1 id="character-name"></h1>
        <div class="img-wrapper">
            <img id="character-image" class="no-drag" src="" alt="" />
        </div>
        <span class="separator">
            Quick Actions
        </span>
        <div class="quick-actions">
            <a href="#" id="reset" class="highlight">
                <i class="fas fa-sync-alt"></i>
                Reset
            </a>
            <br />
            <a href="#" id="reset" class="highlight">
                <i class="fas fa-sync-alt"></i>
                Grand Reset
            </a>
            <br />
            <a href="#" id="reset" class="highlight">
                <i class="fas fa-exchange-alt"></i>
                Swap Stats
            </a>
            <br />
            <a href="#" id="reset" class="highlight">
                <i class="fas fa-times"></i>
                Clear PK
            </a>
        </div>
    </div>
    <div class="options">
        <section id="character-panel-tabs" class="tabs">
            <div class="pills">
                <a href="#" class="button gray">reset</a>
                <a href="#" class="button gray">grand reset</a>
                <a href="#" class="button gray selected">add stats</a>
                <a href="#" class="button gray">dual stats</a>
                <a href="#" class="button gray">clear pk</a>
                <a href="#" class="button gray">clear inventory</a>
            </div>
            <div class="content">
                <div>@@include('modules/account/partials/reset.html')</div>
                <div>@@include('modules/account/partials/grand-reset.html')</div>
                <div>@@include('modules/account/partials/add-stats.html')</div>
                <div>@@include('modules/account/partials/dual-stats.html')</div>
                <div>@@include('modules/account/partials/clear-pk.html')</div>
                <div>@@include('modules/account/partials/clear-inventory.html')</div>
            </div>
        </section>
    </div>
</section>
