<section class="characters">
    <h1 class="highlight">select character</h1>
    <div class="wrapper">
        @@include('modules/account/partials/character.html', {
            "name": "RaFa",
            "image": "/assets/classes/dark-knight-character.png",
            "class": "Dark Knight"
        })

        @@include('modules/account/partials/character.html', {
            "name": "Rotterdam",
            "image": "/assets/classes/dark-wizard-character.png",
            "class": "Dark Wizard"
        })

        @@include('modules/account/partials/character.html', {
            "name": "Hardcore",
            "image": "/assets/classes/dark-lord-character.png",
            "class": "Dark Lord"
        })

        @@include('modules/account/partials/character.html', {
            "name": "Estasia",
            "image": "/assets/classes/bloody-summoner-character.png",
            "class": "Dimension Master"
        })
    </div>
</section>
