<section class="inbox">
    <div class="messages">
        <a href="#" class="message">
            <h2 class="title">Lorem ipsum dolor sit amet!</h2>
            <strong class="from highlight">RaFa</strong> - Wednesday 18:33
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
        <a href="#" class="message">
            <h2 class="title">Dolor sit amet lorem!</h2>
            <strong class="from highlight">Rotterdam</strong> - Monday 8:14
        </a>
    </div>
    <div class="coversation">
        <div class="content">
            <div class="message">
                <i class="arrow"></i>
                <div class="text">Hi!</div>
            </div>
            <div class="message mine">
                <i class="arrow"></i>
                <div class="text">Zdr!</div>
            </div>
            <div class="message mine">
                <i class="arrow"></i>
                <div class="text">Kp?</div>
            </div>
            <div class="message">
                <i class="arrow"></i>
                <div class="text">Igraq :DDD</div>
            </div>
            <div class="message">
                <i class="arrow"></i>
                <div class="text">Ti?</div>
            </div>
            <div class="message mine">
                <i class="arrow"></i>
                <div class="text">Kodq, braD mi</div>
            </div>
            <div class="message mine">
                <i class="arrow"></i>
                <div class="text">
                    Dolor sit amet lorem! Dolor sit amet lorem! Dolor sit amet lorem! Dolor sit amet lorem! Dolor sit amet lorem! Dolor sit amet lorem! Dolor sit amet lorem!
                </div>
            </div>
        </div>
        <div class="input">
            <form method="post">
                <input type="hidden" name="conversation_id" value="324" />
                <textarea rows="8" cols="80" placeholder="Write your message here!"></textarea>
                <button type="submit" name="button">
                    <i class="fas fa-reply"></i>
                </button>
            </form>
        </div>
    </div>
</section>
