<section class="account-info">
    <div class="rank">
        <img src="https://via.placeholder.com/192x256" alt="Rank">
    </div>
    <div class="information">
        <div class="title text-center">
            <strong>Account Information</strong>
        </div>
        <table class="transparent">
            <tbody>
                <tr>
                    <td>Rank</td>
                    <td>VIP 3</td>
                </tr>
                <tr>
                    <td>Credits</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Characters</td>
                    <td class="characters">
                        <a href="#/character/RaFa">RaFa</a>,
                        <a href="#/character/Estasia">Estasia</a>
                    </td>
                </tr>
                <tr>
                    <td>Registration Date</td>
                    <td>23/03/2019 13:17</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
