<section class="vault user"></section>
<section class="vault web"></section>

<!-- <div class="item" draggable="true" data-y="3" data-x="2" data-slot="0">
    <img src="/assets/items/00158000.gif" alt="Great Dragon Armor" />
</div>
<div class="item" draggable="true" data-y="3" data-x="4" data-slot="32">
    <img src="/assets/items/10838000.gif" alt="Wings of Elf" />
</div>
<div class="item" draggable="true" data-y="1" data-x="1" data-slot="10">
    <img src="/assets/items/00cb800009.gif" alt="Box of Kundun +2" />
</div> -->
